<nav id="menu">

    <ul id="menu-list">
        <li class="menu-item">
            <a href="http://localhost/leagueofquizv2/public/">
                <span class="label">
                    <span class="icon">
                        {# Image #}
                        <i class="fas fa-home"></i>
                    </span>
                    <strong>Accueil</strong>
                </span>
            </a>
        </li>
        <li class="menu-item">
            <a href="http://localhost/leagueofquizv2/public/jouer">
                <span class="label">
                    <span class="icon">
                        {# Image #}
                        <i class="fas fa-play-circle"></i>
                    </span>
                    <strong>Jouer</strong>
                </span>
            </a>
        </li>
        <li class="menu-item">
            <a href="http://localhost/leagueofquizv2/public/regles">
                <span class="label">
                    <span class="icon">
                        {# Image #}
                        <i class="fas fa-book"></i>
                    </span>
                    <strong>Règles</strong>
                </span>
            </a>
        </li>
        {#<li class="menu-item">#}
            {#<a href="google.fr">#}
                {#<span class="label">#}
                    {#<span class="icon">#}
                        {# Image #}
                        {#<img src="../resources/menu-icon/lol.svg" alt="Lol icon">#}
                        {#<object type="image/svg+xml" data="../resources/menu-icon/lol.svg">Lol Icon</object>#}
                    {#</span>#}
                    {#<strong>Nom lien</strong>#}
                {#</span>#}
            {#</a>#}
        {#</li>#}
    </ul>


</nav>

{% block stylesheet %}
    <link rel="stylesheet" href="../resources/styles/menu.css">
{% endblock %}