{% extends "base.html.twig" %}

{% block title %}
    {{ displayName }} - {{ difficulty | capitalize }}
{% endblock %}

{% block body %}

    <h2>{{ displayName }}</h2>

    {% for q in questions %}
        {{ dump(q) }}
    {% endfor %}

{% endblock %}